openapi: 3.1.0
info:
  title: Grantex Auth Service API
  version: 0.5.0
  description: |
    Grantex is an open-source delegated authorization protocol and reference implementation for AI agents. It gives each agent a verifiable identity and scoped, time-limited, revocable authority from a human or organization, with multi-agent delegation, service-side verification, and audit records.

    Grantex is owned by Orchestrum Technologies LLP. Inventor and owner: Sanjeev Kumar. Ownership contact: sanjeev@orchestrum.in or mishra.sanjeev@gmail.com.

    The Grantex Auth Service implements this protocol for API clients.
    It provides agent registration, authorization flows, token management, audit logging, policy enforcement,
    anomaly detection, compliance exports, SCIM provisioning, SSO, and billing.

    ## Authentication
    Most endpoints require a **Bearer token** (your developer API key) in the `Authorization` header.
    SCIM 2.0 user endpoints use a separate SCIM Bearer token.
    Public endpoints (health, JWKS, consent, SSO flow) require no authentication.

    ## Rate Limits
    - **Default Fastify IP policy (routes without an override)**: 5,000 requests/minute per source IP
    - **Standard developer API-key - Free plan**: 100 requests/minute per developer
    - **Standard developer API-key - Pro plan**: 500 requests/minute per developer
    - **Standard developer API-key - Enterprise plan**: 2,000 requests/minute per developer
    - **POST /v1/authorize**: 10 requests/minute per developer
    - **POST /v1/token**: 20 requests/minute
    - **POST /v1/token/refresh**: 20 requests/minute
    - JWKS endpoint is allowlisted from rate limiting

    A route-specific Fastify limit replaces the 5,000 requests/minute default for that route. The Redis-backed standard developer API-key plan budget is additional whenever standard API-key authentication applies.
    Commerce, the SCIM Bearer data-plane routes under `/scim/v2/*`, admin, and other custom-auth routes do not consume these plan buckets; the standard API-key-authenticated `/v1/scim/tokens` management routes do.
    These defaults describe repository source; verify managed-environment rollout separately.
  license:
    name: Apache 2.0
    url: https://opensource.org/licenses/Apache-2.0
  contact:
    name: Orchestrum Technologies LLP / Grantex
    url: https://grantex.dev
    email: sanjeev@orchestrum.in

servers:
  - url: https://api.grantex.dev
    description: Production (stable public API origin)
  - url: http://localhost:3001
    description: Local development (docker compose)

tags:
  - name: System
    description: Health checks and public keys
  - name: Authentication
    description: Developer signup, profile, and key rotation
  - name: Agents
    description: Agent registration and management
  - name: Authorization
    description: Authorization request creation and approval
  - name: Consent
    description: End-user consent UI and approval flow
  - name: Event Bridge
    description: Provider events (SSF/CAEP SETs, signed webhooks) mapped to grant actions
  - name: Decision Grants
    description: Decisions a named person approves for one semantic action (spec/decision-grant.md). Disabled unless DECISION_GRANTS_ENABLED=true.
  - name: Tokens
    description: Token exchange, verification, and revocation
  - name: OAuth Agent Grants
    description: Standards profile using PAR, PKCE, DPoP, token rotation, attenuation, and revocation
  - name: Grants
    description: Grant management, verification, and delegation
  - name: Audit
    description: Immutable audit log — append-only, hash-chained
  - name: Policies
    description: Access policy engine for automated grant decisions
  - name: Webhooks
    description: Webhook registration for real-time event notifications
  - name: Billing
    description: Stripe-based subscription billing
  - name: Anomalies
    description: Anomaly detection and acknowledgement
  - name: Compliance
    description: Compliance summaries, exports, and evidence packs
  - name: SCIM
    description: SCIM 2.0 user provisioning and token management
  - name: SSO
    description: OIDC single sign-on configuration and flow
  - name: Principal Sessions
    description: End-user permission management via short-lived session tokens
  - name: WebAuthn
    description: FIDO2/WebAuthn passkey registration, assertion, and credential management
  - name: Verifiable Credentials
    description: W3C Verifiable Credential issuance, verification, and StatusList2021 revocation
  - name: DID
    description: W3C Decentralized Identifier (DID) document for credential verification
  - name: Usage
    description: Daily API usage metering
  - name: Domains
    description: Custom-domain registration and DNS verification
  - name: Vault
    description: Encrypted upstream credential storage and exchange
  - name: Budgets
    description: Per-grant budget allocations and debits
  - name: DPDP
    description: India DPDP consent, grievance, erasure, and export workflows
  - name: Offline Authorization
    description: Consent bundles and offline audit synchronization
  - name: Passports
    description: MPP agent passport issuance and lifecycle
  - name: Trust Registry
    description: Public organization directory and DNS ownership verification
  - name: MCP Registry
    description: MCP server directory and certification applications
  - name: Prepaid Wallets
    description: Principal-controlled agent wallets, assignments, policy, reloads, and stop controls
  - name: x402 Facilitator
    description: Official x402 v2 support discovery, prepaid authorization verification, and settlement

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Developer API key
    grantTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Grantex grant token issued to an authorized agent
    metricsBearerAuth:
      type: http
      scheme: bearer
      description: METRICS_API_KEY bearer token (required by default in production)
    principalSessionAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived principal-session token
    dpopAuth:
      type: http
      scheme: DPoP
      bearerFormat: JWT
      description: OAuth Agent Grants access token plus the DPoP proof header
    scimBearer:
      type: http
      scheme: bearer
      description: SCIM provisioning token
    adminAuth:
      type: http
      scheme: bearer
      description: Service administrator credential (ADMIN_API_KEY); not a developer API key

  schemas:
    EventMappingRuleInput:
      type: object
      additionalProperties: false
      required: [name, eventType, target, action]
      properties:
        name: { type: string, maxLength: 128 }
        sourceId:
          type: [string, "null"]
          description: Only events from this source, or null for any source of this developer
        eventType:
          type: string
          description: Exact event type, or a prefix ending in *
        conditions:
          type: array
          maxItems: 10
          description: All must hold; each has exactly one of equals, in or exists
          items:
            type: object
            required: [path]
            properties:
              path: { type: string, description: "type, subject.* or data.*" }
              equals: {}
              in: { type: array, maxItems: 50 }
              exists: { type: boolean }
        target:
          type: object
          required: [by, path]
          properties:
            by: { type: string, enum: [grant_id, principal_id, agent_id, subject_ref] }
            path: { type: string }
            kind: { type: string, description: "Binding kind, required for subject_ref" }
        action: { type: string, enum: [suspend, revoke, re_evaluate] }
        mode: { type: string, enum: [enforce, observe], default: enforce }
        status: { type: string, enum: [active, disabled], default: active }
    EventMappingRule:
      allOf:
        - $ref: "#/components/schemas/EventMappingRuleInput"
        - type: object
          properties:
            id: { type: string }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    GrantSubjectRefs:
      type: object
      properties:
        grantId: { type: string }
        refs:
          type: array
          items:
            type: object
            properties:
              kind: { type: string }
              value: { type: string }
    EventSource:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, enum: [ssf, webhook] }
        name: { type: string }
        status: { type: string, enum: [active, disabled] }
        ingestUrl: { type: string, format: uri }
        issuer: { type: string }
        audience: { type: string }
        jwksUri: { type: string }
        jwks: { type: object }
        algorithms: { type: array, items: { type: string } }
        maxAgeSeconds: { type: integer }
        toleranceSeconds: { type: integer }
        secretRotatedAt: { type: [string, "null"], format: date-time }
        previousSecretExpiresAt: { type: [string, "null"], format: date-time }
        secret: { type: string, description: "Only in create and rotate responses of webhook sources" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    EventBridgeAccepted:
      type: object
      properties:
        status: { type: string, enum: [unmapped, applied, observed, duplicate] }
        requestId: { type: string }
    EventBridgeRefused:
      type: object
      properties:
        err:
          type: string
          description: Verification failure reason (also the metric label)
        description: { type: string }
        code: { type: string, enum: [EVENT_UNVERIFIABLE] }
        requestId: { type: string }
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        statusCode:
          type: integer
      required: [error, code, statusCode]

    PrepaidWallet:
      type: object
      required: [walletId, principalId, name, custodyMode, network, asset, decimals, availableAmount, reservedAmount, lowBalanceThreshold, maxBalance, maxReloadAmount, reloadCumulativeLimit, reloadPeriodSeconds, reloadCountLimit, status]
      properties:
        walletId: { type: string, pattern: '^pwal_' }
        principalId: { type: string }
        name: { type: string }
        custodyMode: { type: string, enum: [sandbox_ledger, external] }
        provider: { type: [string, 'null'] }
        providerWalletId: { type: [string, 'null'] }
        walletAddress: { type: [string, 'null'] }
        network: { type: string, example: 'grantex:prepaid' }
        asset: { type: string, example: USDC }
        decimals: { type: integer, minimum: 0, maximum: 30 }
        availableAmount: { type: string, pattern: '^\d+$', description: Integer atomic units }
        reservedAmount: { type: string, pattern: '^\d+$', description: Integer atomic units }
        lowBalanceThreshold: { type: string, pattern: '^\d+$' }
        maxBalance: { type: [string, 'null'], pattern: '^\d+$', description: Optional hard ceiling on the post-reload available plus reserved balance }
        maxReloadAmount: { type: [string, 'null'], pattern: '^\d+$', description: Optional maximum for one principal or agent-requested reload }
        reloadCumulativeLimit: { type: [string, 'null'], pattern: '^\d+$', description: Optional cumulative funded reload ceiling within reloadPeriodSeconds }
        reloadPeriodSeconds: { type: [integer, 'null'], minimum: 60, maximum: 31536000 }
        reloadCountLimit: { type: [integer, 'null'], minimum: 1, description: Optional funded reload count ceiling within reloadPeriodSeconds }
        status: { type: string, enum: [active, blocked, closed] }
        blockedAt: { type: [string, 'null'], format: date-time }
        blockedReason: { type: [string, 'null'] }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    AssignedPrepaidWallet:
      type: object
      description: Agent-visible wallet and assignment projection; custody-provider identifiers and metadata are omitted.
      required: [walletId, name, network, asset, decimals, availableAmount, reservedAmount, lowBalanceThreshold, status, assignmentId, assignmentStatus, perTransactionLimit, cumulativeLimit, cumulativePeriodSeconds, allowedRecipients, allowedScopes, allowedResourceOrigins, allowAnyRecipient, allowAnyScope, allowAnyResource, budgetGroup, allWalletsBlocked]
      properties:
        walletId: { type: string, pattern: '^pwal_' }
        name: { type: string }
        network: { type: string, example: 'grantex:prepaid' }
        asset: { type: string, example: USDC }
        decimals: { type: integer, minimum: 0, maximum: 30 }
        availableAmount: { type: string, pattern: '^\d+$' }
        reservedAmount: { type: string, pattern: '^\d+$' }
        lowBalanceThreshold: { type: string, pattern: '^\d+$' }
        status: { type: string, enum: [active, blocked, closed] }
        blockedAt: { type: [string, 'null'], format: date-time }
        blockedReason: { type: [string, 'null'] }
        assignmentId: { type: string, pattern: '^wasn_' }
        assignmentStatus: { type: string, enum: [active, blocked, revoked] }
        perTransactionLimit: { type: string, pattern: '^[1-9]\d*$' }
        cumulativeLimit: { type: string, pattern: '^[1-9]\d*$' }
        cumulativePeriodSeconds: { type: integer, minimum: 60, maximum: 2592000 }
        allowedRecipients: { type: array, items: { type: string } }
        allowedScopes: { type: array, items: { type: string } }
        allowedResourceOrigins: { type: array, items: { type: string, format: uri }, description: Exact origins only; empty denies every resource unless allowAnyResource is true }
        allowAnyRecipient: { type: boolean, description: Explicit opt-out from recipient allowlisting }
        allowAnyScope: { type: boolean, description: Explicit opt-out from assignment action-scope allowlisting; OAuth scopes still apply }
        allowAnyResource: { type: boolean, description: Explicit opt-out from resource-origin allowlisting }
        budgetGroup: { type: [string, 'null'], description: Optional shared policy bucket across agents and wallets }
        validFrom: { type: string, format: date-time }
        validUntil: { type: [string, 'null'], format: date-time }
        allWalletsBlocked: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    WalletAssignment:
      type: object
      required: [assignmentId, walletId, agentId, principalId, status, perTransactionLimit, cumulativeLimit, cumulativePeriodSeconds, allowedRecipients, allowedScopes, allowedResourceOrigins, allowAnyRecipient, allowAnyScope, allowAnyResource, budgetGroup]
      properties:
        assignmentId: { type: string, pattern: '^wasn_' }
        walletId: { type: string }
        agentId: { type: string }
        principalId: { type: string }
        status: { type: string, enum: [active, blocked, revoked] }
        perTransactionLimit: { type: string, pattern: '^[1-9]\d*$' }
        cumulativeLimit: { type: string, pattern: '^[1-9]\d*$' }
        cumulativePeriodSeconds: { type: integer, minimum: 60, maximum: 2592000 }
        allowedRecipients: { type: array, items: { type: string } }
        allowedScopes: { type: array, items: { type: string } }
        allowedResourceOrigins: { type: array, items: { type: string, format: uri } }
        allowAnyRecipient: { type: boolean }
        allowAnyScope: { type: boolean }
        allowAnyResource: { type: boolean }
        budgetGroup: { type: [string, 'null'] }
        validFrom: { type: string, format: date-time }
        validUntil: { type: [string, 'null'], format: date-time }

    WalletAuthorization:
      type: object
      required: [authorization, reservationId, walletId, assignmentId, amount, asset, network, recipient, expiresAt, remainingAvailable, remainingCumulative, policyDecisionId]
      properties:
        authorization: { type: string, description: Short-lived one-time signed wallet authorization }
        reservationId: { type: string, pattern: '^wres_' }
        walletId: { type: string }
        assignmentId: { type: string }
        amount: { type: string, pattern: '^[1-9]\d*$' }
        asset: { type: string }
        network: { type: string }
        recipient: { type: string }
        expiresAt: { type: string, format: date-time }
        remainingAvailable: { type: string, pattern: '^\d+$' }
        remainingCumulative: { type: string, pattern: '^\d+$' }
        policyDecisionId: { type: [string, 'null'], pattern: '^wdec_', description: Durable layered-policy decision attached to this reservation }
        evmPayment: { $ref: '#/components/schemas/WalletEvmPayment' }

    WalletEvmPayment:
      type: object
      description: Present only for configured Base native USDC custody. Bearer payment capability; never log it. Send only this payload through the standard EVM x402 payment header, not the internal Grantex authorization JWT.
      required: [signature, authorization]
      properties:
        signature: { type: string, pattern: '^0x[0-9a-fA-F]+$' }
        authorization:
          type: object
          required: [from, to, value, validAfter, validBefore, nonce]
          properties:
            from: { type: string, pattern: '^0x[0-9a-fA-F]{40}$' }
            to: { type: string, pattern: '^0x[0-9a-fA-F]{40}$' }
            value: { type: string, pattern: '^[1-9]\d*$' }
            validAfter: { type: string, pattern: '^\d+$', description: Unix seconds }
            validBefore: { type: string, pattern: '^\d+$', description: Unix seconds bounded by request and delegated authority expiry }
            nonce: { type: string, pattern: '^0x[0-9a-fA-F]{64}$' }

    WalletReconciliation:
      type: object
      required: [reservationId, status, transaction]
      properties:
        reservationId: { type: string, pattern: '^wres_' }
        status: { type: string, enum: [reserved, settled, expired] }
        transaction: { type: [string, 'null'], description: Finalized Base transaction hash when settled; otherwise null }

    WalletSpendPolicyInput:
      type: object
      required: [name, scopeType, effect]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, minLength: 1, maxLength: 1000 }
        scopeType: { type: string, enum: [assignment, wallet, agent, group, principal, developer] }
        scopeId: { type: string, description: Required except for developer scope and the authenticated principal's own principal scope }
        effect: { type: string, enum: [limit, deny, require_approval] }
        onExceed: { type: string, enum: [deny, require_approval], default: deny }
        maxAmount: { type: string, pattern: '^\d+$', description: Atomic-unit ceiling; a limit policy requires maxAmount or maxCount }
        maxCount: { type: integer, minimum: 0 }
        windowType: { type: string, enum: [per_authorization, rolling, calendar_day, calendar_week, calendar_month, lifetime], default: per_authorization }
        windowSeconds: { type: integer, minimum: 10, maximum: 2678400, description: Required for a rolling window }
        recipients: { type: array, maxItems: 200, items: { type: string } }
        resourceOrigins: { type: array, maxItems: 200, items: { type: string, format: uri }, description: Origins without paths, queries, credentials, or fragments }
        actionScopes: { type: array, maxItems: 200, items: { type: string } }
        assets: { type: array, maxItems: 200, items: { type: string } }
        networks: { type: array, maxItems: 200, items: { type: string } }
        merchantIds: { type: array, maxItems: 200, items: { type: string } }
        purposes: { type: array, maxItems: 200, items: { type: string } }
        projectIds: { type: array, maxItems: 200, items: { type: string } }
        costCenters: { type: array, maxItems: 200, items: { type: string } }
        requireVerifiedMerchant: { type: boolean, default: false }
        priority: { type: integer, minimum: -100000, maximum: 100000, default: 0 }
        validFrom: { type: string, format: date-time }
        validUntil: { type: string, format: date-time }

    WalletSpendPolicy:
      allOf:
        - $ref: '#/components/schemas/WalletSpendPolicyInput'
        - type: object
          required: [policyId, developerId, principalId, status, version, createdAt, updatedAt]
          properties:
            policyId: { type: string, pattern: '^wspol_' }
            developerId: { type: string }
            principalId: { type: [string, 'null'] }
            status: { type: string, enum: [active, disabled, revoked] }
            version: { type: integer, minimum: 1 }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }

    WalletPaymentApproval:
      type: object
      required: [approvalRequestId, walletId, assignmentId, agentId, amount, asset, network, recipient, resource, scope, policyIds, status, expiresAt, createdAt, updatedAt]
      properties:
        approvalRequestId: { type: string, pattern: '^wapr_' }
        walletId: { type: string, pattern: '^pwal_' }
        assignmentId: { type: string, pattern: '^wasn_' }
        agentId: { type: string }
        amount: { type: string, pattern: '^[1-9]\d*$' }
        asset: { type: string }
        network: { type: string }
        recipient: { type: string }
        resource: { type: string, format: uri }
        scope: { type: string }
        merchantId: { type: [string, 'null'] }
        purpose: { type: [string, 'null'] }
        projectId: { type: [string, 'null'] }
        costCenter: { type: [string, 'null'] }
        policyIds: { type: array, items: { type: string, pattern: '^wspol_' } }
        status: { type: string, enum: [pending, approved, rejected, expired, consumed] }
        reason: { type: [string, 'null'] }
        expiresAt: { type: string, format: date-time, description: Approval is valid for at most 15 minutes and only for this exact payment tuple }
        decidedAt: { type: [string, 'null'], format: date-time }
        consumedAt: { type: [string, 'null'], format: date-time }
        reservationId: { type: [string, 'null'], pattern: '^wres_' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    WalletPaymentApprovalRequired:
      type: object
      required: [status, approvalRequestId, walletId, assignmentId, policyIds, expiresAt]
      properties:
        status: { type: string, const: approval_required }
        approvalRequestId: { type: string, pattern: '^wapr_' }
        walletId: { type: string, pattern: '^pwal_' }
        assignmentId: { type: string, pattern: '^wasn_' }
        policyIds: { type: array, items: { type: string, pattern: '^wspol_' } }
        expiresAt: { type: string, format: date-time }

    WalletReloadRequest:
      type: object
      required: [reloadRequestId, walletId, amount, status, requestedBy, createdAt]
      properties:
        reloadRequestId: { type: string, pattern: '^wrr_' }
        walletId: { type: string }
        assignmentId: { type: [string, 'null'] }
        agentId: { type: [string, 'null'] }
        amount: { type: string, pattern: '^[1-9]\d*$' }
        reason: { type: [string, 'null'] }
        status: { type: string, enum: [pending, approved, rejected, cancelled, funded] }
        requestedBy: { type: string, enum: [agent, principal] }
        externalReference: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        decidedAt: { type: [string, 'null'], format: date-time }
        fundedAt: { type: [string, 'null'], format: date-time }

    OAuthError:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
      required: [error, error_description]

    OAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          const: DPoP
        expires_in:
          type: integer
          minimum: 1
        refresh_token:
          type: string
        scope:
          type: string
        issued_token_type:
          type: string
      required: [access_token, token_type, expires_in, scope]

    Developer:
      type: object
      properties:
        developerId:
          type: string
        name:
          type: string
        email:
          type: string
        mode:
          type: string
          enum: [live, sandbox]
        plan:
          type: string
          enum: [free, pro, enterprise]
        createdAt:
          type: string
          format: date-time

    Agent:
      type: object
      properties:
        agentId:
          type: string
        did:
          type: string
        developerId:
          type: string
        name:
          type: string
        description:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, suspended, revoked]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Grant:
      type: object
      properties:
        grantId:
          type: string
        agentId:
          type: string
        principalId:
          type: string
        developerId:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, revoked, expired]
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
        parentGrantId:
          type: string
        delegationDepth:
          type: integer

    AuditEntry:
      type: object
      properties:
        entryId:
          type: string
        agentId:
          type: string
        agentDid:
          type: string
        grantId:
          type: string
        principalId:
          type: string
        developerId:
          type: string
        action:
          type: string
        metadata:
          type: object
        hash:
          type: string
        prevHash:
          type: [string, "null"]
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [success, failure, blocked]

    Policy:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        effect:
          type: string
          enum: [allow, deny]
        priority:
          type: integer
        agentId:
          type: string
        principalId:
          type: string
        scopes:
          type: array
          items:
            type: string
        timeOfDayStart:
          type: string
        timeOfDayEnd:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [grant.created, grant.revoked, token.issued]
        secret:
          type: string
          description: Only returned on creation
        createdAt:
          type: string
          format: date-time

    Anomaly:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [rate_spike, high_failure_rate, new_principal, off_hours_activity]
        severity:
          type: string
          enum: [low, medium, high]
        agentId:
          type: string
        principalId:
          type: string
        description:
          type: string
        metadata:
          type: object
        detectedAt:
          type: string
          format: date-time
        acknowledgedAt:
          type: string
          format: date-time

    ScimUser:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
        id:
          type: string
        userName:
          type: string
        displayName:
          type: string
        externalId:
          type: string
        active:
          type: boolean
        emails:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              primary:
                type: boolean
        meta:
          type: object
          properties:
            resourceType:
              type: string
            created:
              type: string
              format: date-time
            lastModified:
              type: string
              format: date-time

    SsoConnection:
      type: object
      properties:
        id:
          type: string
          description: SSO connection ID
        developerId:
          type: string
        name:
          type: string
        protocol:
          type: string
          enum: [oidc, saml]
        issuerUrl:
          type: string
        clientId:
          type: string
        idpEntityId:
          type: string
        idpSsoUrl:
          type: string
        spEntityId:
          type: string
        spAcsUrl:
          type: string
        domains:
          type: array
          items:
            type: string
        jitProvisioning:
          type: boolean
        enforce:
          type: boolean
        groupAttribute:
          type: string
        groupMappings:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        defaultScopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SsoSession:
      type: object
      properties:
        id:
          type: string
          description: SSO session ID
        developerId:
          type: string
        connectionId:
          type: string
        protocol:
          type: string
          enum: [oidc, saml]
        email:
          type: string
        name:
          type: string
        sub:
          type: string
          description: Subject identifier from the IdP
        groups:
          type: array
          items:
            type: string
        mappedScopes:
          type: array
          items:
            type: string
        principalId:
          type: string
          description: JIT-provisioned principal ID (if applicable)
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    SsoCallbackResult:
      type: object
      properties:
        sessionId:
          type: string
          description: SSO session ID
        email:
          type: string
        name:
          type: string
        sub:
          type: string
          description: Subject identifier from the IdP
        groups:
          type: array
          items:
            type: string
        mappedScopes:
          type: array
          items:
            type: string
        principalId:
          type: string
          description: JIT-provisioned principal ID (if applicable)
        developerId:
          type: string
        expiresAt:
          type: string
          format: date-time

security:
  - bearerAuth: []

paths:
  /v1/principal/prepaid-wallets:
    post:
      operationId: createPrepaidWallet
      tags: [Prepaid Wallets]
      summary: Create a principal-owned prepaid wallet
      description: Creates a zero-balance wallet. External custody requires provider and providerWalletId and remains unusable until an adapter is configured.
      security: [{ principalSessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, custodyMode, network, asset]
              properties:
                name: { type: string }
                custodyMode: { type: string, enum: [sandbox_ledger, external] }
                provider: { type: string }
                providerWalletId: { type: string }
                walletAddress: { type: string }
                network: { type: string, example: 'grantex:prepaid' }
                asset: { type: string, example: USDC }
                decimals: { type: integer, default: 6, minimum: 0, maximum: 30 }
                lowBalanceThreshold: { type: string, pattern: '^\d+$' }
                maxBalance: { type: string, pattern: '^\d+$' }
                maxReloadAmount: { type: string, pattern: '^\d+$' }
                reloadCumulativeLimit: { type: string, pattern: '^\d+$' }
                reloadPeriodSeconds: { type: integer, minimum: 60, maximum: 31536000 }
                reloadCountLimit: { type: integer, minimum: 1 }
                metadata: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Wallet created
          content: { application/json: { schema: { $ref: '#/components/schemas/PrepaidWallet' } } }
    get:
      operationId: listPrincipalPrepaidWallets
      tags: [Prepaid Wallets]
      summary: List wallets owned by the principal
      security: [{ principalSessionAuth: [] }]
      responses:
        '200':
          description: Wallet list
          content:
            application/json:
              schema:
                type: object
                required: [wallets]
                properties:
                  wallets: { type: array, items: { $ref: '#/components/schemas/PrepaidWallet' } }

  /v1/principal/prepaid-wallets/{walletId}/assignments:
    post:
      operationId: assignPrepaidWallet
      tags: [Prepaid Wallets]
      summary: Assign a wallet and spend policy to an authorized agent
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: walletId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agentId, perTransactionLimit, cumulativeLimit, cumulativePeriodSeconds]
              properties:
                agentId: { type: string }
                perTransactionLimit: { type: string, pattern: '^[1-9]\d*$' }
                cumulativeLimit: { type: string, pattern: '^[1-9]\d*$' }
                cumulativePeriodSeconds: { type: integer, minimum: 60, maximum: 2592000 }
                allowedRecipients: { type: array, items: { type: string }, default: [], description: Empty denies every recipient unless allowAnyRecipient is explicitly true }
                allowedScopes: { type: array, items: { type: string }, default: [], description: Empty denies every action unless allowAnyScope is explicitly true }
                allowedResourceOrigins: { type: array, items: { type: string, format: uri }, default: [], description: Empty denies every resource unless allowAnyResource is explicitly true }
                allowAnyRecipient: { type: boolean, default: false }
                allowAnyScope: { type: boolean, default: false }
                allowAnyResource: { type: boolean, default: false }
                budgetGroup: { type: string, maxLength: 200 }
                validUntil: { type: string, format: date-time }
      responses:
        '201':
          description: Assignment created or restored with the supplied policy
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletAssignment' } } }

  /v1/principal/prepaid-wallet-assignments/{assignmentId}:
    patch:
      operationId: setPrepaidWalletAssignmentStatus
      tags: [Prepaid Wallets]
      summary: Activate, block, or revoke one agent-wallet assignment
      description: Blocking or revoking atomically releases this assignment's active reservations. Revocation is terminal.
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: assignmentId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [active, blocked, revoked] }
                reason: { type: string, maxLength: 200 }
      responses:
        '200':
          description: Updated assignment
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletAssignment' } } }

  /v1/principal/prepaid-wallets/{walletId}/status:
    patch:
      operationId: setPrepaidWalletStatus
      tags: [Prepaid Wallets]
      summary: Activate, block, or close a wallet
      description: Blocking or closing releases all active reservations on the wallet. Closed wallets cannot be reactivated.
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: walletId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [active, blocked, closed] }
                reason: { type: string, maxLength: 200 }
      responses:
        '200':
          description: Updated wallet
          content: { application/json: { schema: { $ref: '#/components/schemas/PrepaidWallet' } } }

  /v1/principal/prepaid-wallet-agents/{agentId}/block:
    put:
      operationId: setAgentAllWalletsBlocked
      tags: [Prepaid Wallets]
      summary: Stop or allow this agent across all wallets of the principal
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blocked]
              properties:
                blocked: { type: boolean }
                reason: { type: string, maxLength: 200 }
      responses:
        '200': { description: Agent wallet control updated }

  /v1/principal/prepaid-wallets/{walletId}/reloads:
    post:
      operationId: fundPrepaidWalletDirectly
      tags: [Prepaid Wallets]
      summary: Fund a sandbox wallet directly as the principal
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: walletId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, idempotencyKey]
              properties:
                amount: { type: string, pattern: '^[1-9]\d*$' }
                idempotencyKey: { type: string, minLength: 16, description: Stable across retries of the same direct reload }
                externalReference: { type: string }
      responses:
        '201':
          description: Wallet funded
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReloadRequest' } } }
        '503': { description: External custody adapter unavailable }

  /v1/principal/prepaid-wallet-reload-requests/{requestId}/decision:
    post:
      operationId: decidePrepaidWalletReload
      tags: [Prepaid Wallets]
      summary: Approve or reject an agent reload request
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: requestId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
      responses:
        '200':
          description: Reload decision recorded
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReloadRequest' } } }

  /v1/principal/prepaid-wallet-reload-requests/{requestId}/fund:
    post:
      operationId: fundApprovedPrepaidWalletReload
      tags: [Prepaid Wallets]
      summary: Fund a previously approved reload request
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: requestId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                externalReference: { type: string, description: Provider funding reference; repeated calls must use the same value. For base_usdc use the exact finalized transfer's lowercase transactionHash followed by a colon and decimal logIndex }
      responses:
        '200':
          description: Approved reload funded, or the existing funded result returned on an identical retry
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReloadRequest' } } }

  /v1/principal/prepaid-wallets/{walletId}/activity:
    get:
      operationId: getPrepaidWalletActivity
      tags: [Prepaid Wallets]
      summary: Get wallet assignments, reservations, reloads, and ledger entries
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: walletId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Durable wallet activity }

  /v1/principal/prepaid-wallet-reservations/{reservationId}/release:
    post:
      operationId: releasePrepaidWalletReservation
      tags: [Prepaid Wallets]
      summary: Release an active reservation back to available value
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: reservationId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties: { reason: { type: string, minLength: 1, maxLength: 200 } }
      responses:
        '200': { description: Reservation released }

  /v1/principal/prepaid-wallet-spend-policies:
    post:
      operationId: createPrincipalPrepaidWalletSpendPolicy
      tags: [Prepaid Wallets]
      summary: Create a layered spend policy within the authenticated principal partition
      description: Principal sessions may create assignment, wallet, agent, group, or principal policies, but cannot create developer-wide policies. Policy creation releases active reservations so stale policy decisions cannot settle.
      security: [{ principalSessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WalletSpendPolicyInput' }
      responses:
        '201':
          description: Spend policy created
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletSpendPolicy' } } }
        '403': { description: Requested scope exceeds the authenticated principal partition }
    get:
      operationId: listPrincipalPrepaidWalletSpendPolicies
      tags: [Prepaid Wallets]
      summary: List layered spend policies visible to the authenticated principal
      security: [{ principalSessionAuth: [] }]
      responses:
        '200':
          description: Principal and developer policies that can govern this principal
          content:
            application/json:
              schema:
                type: object
                required: [policies]
                properties: { policies: { type: array, items: { $ref: '#/components/schemas/WalletSpendPolicy' } } }

  /v1/principal/prepaid-wallet-spend-policies/{policyId}/status:
    patch:
      operationId: setPrincipalPrepaidWalletSpendPolicyStatus
      tags: [Prepaid Wallets]
      summary: Enable, disable, or terminally revoke a principal-owned spend policy
      description: Any status change releases active reservations in this principal partition.
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: policyId, in: path, required: true, schema: { type: string, pattern: '^wspol_' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties: { status: { type: string, enum: [active, disabled, revoked] } }
      responses:
        '200':
          description: Updated spend policy
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletSpendPolicy' } } }

  /v1/principal/prepaid-wallet-payment-approvals:
    get:
      operationId: listPrincipalPrepaidWalletPaymentApprovals
      tags: [Prepaid Wallets]
      summary: List exact-bound payment approval requests for the authenticated principal
      security: [{ principalSessionAuth: [] }]
      responses:
        '200':
          description: Approval requests, including expired and consumed evidence
          content:
            application/json:
              schema:
                type: object
                required: [approvals]
                properties: { approvals: { type: array, items: { $ref: '#/components/schemas/WalletPaymentApproval' } } }

  /v1/principal/prepaid-wallet-payment-approvals/{approvalRequestId}/decision:
    post:
      operationId: decidePrincipalPrepaidWalletPaymentApproval
      tags: [Prepaid Wallets]
      summary: Approve or reject one exact payment request
      description: Approval does not move funds. It permits one retry with the same wallet, amount, asset, network, recipient, resource, scope, semantic context, and idempotency key before expiry.
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: approvalRequestId, in: path, required: true, schema: { type: string, pattern: '^wapr_' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Approval decision recorded
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletPaymentApproval' } } }
        '409': { description: Request expired or already has a conflicting terminal decision }

  /v1/prepaid-wallet-spend-policies:
    post:
      operationId: createDeveloperPrepaidWalletSpendPolicy
      tags: [Prepaid Wallets]
      summary: Create a layered spend policy using developer API-key authority
      description: Developer API keys can define organization-wide developer policies as well as narrower principal, group, agent, wallet, and assignment scopes. Creating a policy releases active reservations in the developer partition.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WalletSpendPolicyInput' }
      responses:
        '201':
          description: Spend policy created
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletSpendPolicy' } } }
    get:
      operationId: listDeveloperPrepaidWalletSpendPolicies
      tags: [Prepaid Wallets]
      summary: List every layered wallet spend policy in the developer partition
      responses:
        '200':
          description: Developer policy list
          content:
            application/json:
              schema:
                type: object
                required: [policies]
                properties: { policies: { type: array, items: { $ref: '#/components/schemas/WalletSpendPolicy' } } }

  /v1/prepaid-wallet-spend-policies/{policyId}/status:
    patch:
      operationId: setDeveloperPrepaidWalletSpendPolicyStatus
      tags: [Prepaid Wallets]
      summary: Enable, disable, or terminally revoke a developer-visible spend policy
      parameters:
        - { name: policyId, in: path, required: true, schema: { type: string, pattern: '^wspol_' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties: { status: { type: string, enum: [active, disabled, revoked] } }
      responses:
        '200':
          description: Updated spend policy
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletSpendPolicy' } } }

  /v1/prepaid-wallets:
    get:
      operationId: listAgentPrepaidWallets
      tags: [Prepaid Wallets]
      summary: List active wallet assignments visible to the DPoP agent
      security: [{ dpopAuth: [] }]
      responses:
        '200':
          description: Assigned wallets and policy, without provider or principal internals
          content:
            application/json:
              schema:
                type: object
                required: [wallets]
                properties:
                  wallets: { type: array, items: { $ref: '#/components/schemas/AssignedPrepaidWallet' } }

  /v1/prepaid-wallets/authorizations:
    post:
      operationId: authorizePrepaidWalletPayment
      tags: [Prepaid Wallets]
      summary: Atomically reserve an eligible prepaid wallet payment
      description: Requires wallet:spend, the exact requested payment scope, and a DPoP-bound access token whose audience is exactly /v1/prepaid-wallets. Configured base_usdc custody signs native Base USDC EIP-3009 only after policy and balance checks. Its remaining authorization window must be 10-300 seconds. The encrypted signature and reservation commit atomically; an identical retry recovers the same nonce. Blocking cannot recall an already issued EVM signature.
      security: [{ dpopAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, asset, network, recipient, resource, scope, maxTimeoutSeconds, idempotencyKey]
              properties:
                walletId: { type: string, description: Optional pin; omit for automatic eligible selection }
                amount: { type: string, pattern: '^[1-9]\d*$' }
                asset: { type: string }
                network: { type: string }
                recipient: { type: string }
                resource: { type: string, format: uri, description: HTTPS required except for explicit loopback development hosts }
                scope: { type: string }
                maxTimeoutSeconds: { type: integer, minimum: 1, maximum: 300 }
                idempotencyKey: { type: string, minLength: 16 }
                approvalRequestId: { type: string, pattern: '^wapr_', description: Approved exact-bound request returned by a prior 202 response }
                merchantId: { type: string }
                purpose: { type: string }
                projectId: { type: string }
                costCenter: { type: string }
      responses:
        '201':
          description: Value reserved and authorization signed
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletAuthorization' } } }
        '202':
          description: A matched policy requires principal approval; no value has been reserved
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletPaymentApprovalRequired' } } }
        '402': { description: Balance or spend limit exceeded }
        '403': { description: Assignment, recipient, scope, asset, network, or block policy denied }
        '409': { description: Idempotency conflict or prior authorization no longer usable }
        '503': { description: Custody is unconfigured, unavailable, on the wrong chain, or stale; no new payment capability is returned }

  /v1/prepaid-wallets/reservations/{reservationId}/reconcile:
    post:
      operationId: reconcileAgentPrepaidWalletReservation
      tags: [Prepaid Wallets]
      summary: Reconcile an agent-owned Base reservation against finalized chain evidence
      description: Requires DPoP and wallet:read or wallet:spend. No caller-supplied settlement evidence is trusted. An unused nonce is released only after finalized chain time passes signature expiry. Provider failure leaves the hold intact.
      security: [{ dpopAuth: [] }]
      parameters:
        - { name: reservationId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Current idempotent reconciliation result
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReconciliation' } } }
        '404': { description: No EVM reservation visible to this owner and agent }
        '503': { description: Custody or chain evidence unavailable; hold retained }

  /v1/principal/prepaid-wallets/reservations/{reservationId}/reconcile:
    post:
      operationId: reconcilePrincipalPrepaidWalletReservation
      tags: [Prepaid Wallets]
      summary: Reconcile a principal-owned Base reservation
      description: Uses the same finalized-chain checks as agent reconciliation, including after an agent is blocked. Manual release is not a substitute for EVM reconciliation.
      security: [{ principalSessionAuth: [] }]
      parameters:
        - { name: reservationId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Current idempotent reconciliation result
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReconciliation' } } }
        '404': { description: No EVM reservation visible to this principal }
        '503': { description: Custody or chain evidence unavailable; hold retained }

  /v1/prepaid-wallets/{walletId}/reload-requests:
    post:
      operationId: requestAgentPrepaidWalletReload
      tags: [Prepaid Wallets]
      summary: Ask the principal to reload a low-balance wallet
      security: [{ dpopAuth: [] }]
      parameters:
        - { name: walletId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, idempotencyKey]
              properties:
                amount: { type: string, pattern: '^[1-9]\d*$' }
                idempotencyKey: { type: string, minLength: 16, description: Stable across every retry of the same agent reload request, including after a terminal decision }
                reason: { type: string, maxLength: 500 }
      responses:
        '201':
          description: Request created or the exact idempotent replay returned
          content: { application/json: { schema: { $ref: '#/components/schemas/WalletReloadRequest' } } }
        '409': { description: Threshold not reached, key terms conflict, or another pending request exists }

  /v1/x402/supported:
    get:
      operationId: getSupportedX402Schemes
      tags: [x402 Facilitator]
      summary: Discover the supported official x402 version, scheme, and network
      security: []
      responses:
        '200': { description: Supports x402Version 2, exact, grantex:prepaid }

  /v1/x402/verify:
    post:
      operationId: verifyPrepaidX402Payment
      tags: [x402 Facilitator]
      summary: Verify an exact x402 v2 prepaid wallet authorization
      security: []
      responses:
        '200': { description: x402 VerifyResponse; isValid is false for any invalid binding or inactive reservation }

  /v1/x402/settle:
    post:
      operationId: settlePrepaidX402Payment
      tags: [x402 Facilitator]
      summary: Idempotently settle an exact x402 v2 prepaid wallet reservation
      security: []
      responses:
        '200': { description: x402 SettleResponse; success is false when settlement cannot complete }

  # ── System ───────────────────────────────────────────────────────────
  /health:
    get:
      operationId: getHealth
      tags: [System]
      summary: Health check
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                required: [status]
        "503":
          description: Service is degraded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [degraded]
                  failing:
                    type: array
                    items:
                      type: string

  /.well-known/jwks.json:
    get:
      operationId: getJwks
      tags: [System]
      summary: JSON Web Key Set
      description: Public signing keys for offline grant token verification. Not rate-limited.
      security: []
      responses:
        "200":
          description: JWKS key set
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object

  # ── OAuth Agent Grants ─────────────────────────────────────────────
  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServerMetadata
      tags: [OAuth Agent Grants]
      summary: Discover the OAuth agent-grants authorization server
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile issuer
      responses:
        "200":
          description: RFC 8414 metadata with profile capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer:
                    type: string
                    format: uri
                  authorization_endpoint:
                    type: string
                    format: uri
                  token_endpoint:
                    type: string
                    format: uri
                  jwks_uri:
                    type: string
                    format: uri
                  revocation_endpoint:
                    type: string
                    format: uri
                  pushed_authorization_request_endpoint:
                    type: string
                    format: uri
                  require_pushed_authorization_requests:
                    type: boolean
                    const: true
                  authorization_response_iss_parameter_supported:
                    type: boolean
                    const: true
                  code_challenge_methods_supported:
                    type: array
                    items:
                      type: string
                  dpop_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                required:
                  - issuer
                  - authorization_endpoint
                  - token_endpoint
                  - jwks_uri
                  - revocation_endpoint
                  - pushed_authorization_request_endpoint
                  - require_pushed_authorization_requests
                  - authorization_response_iss_parameter_supported

  /oauth/par:
    post:
      operationId: pushOAuthAgentAuthorizationRequest
      tags: [OAuth Agent Grants]
      summary: Push an Agent Client authorization request
      description: Requires a registered Agent Key binding through DPoP or a previously possession-verified `dpop_jkt`.
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile issuer
      parameters:
        - in: header
          name: DPoP
          required: false
          schema:
            type: string
          description: Fresh DPoP proof for this endpoint. Required unless the matching `dpop_jkt` has a prior possession-verification record.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id: { type: string }
                response_type: { type: string, const: code }
                redirect_uri: { type: string, format: uri }
                scope: { type: string }
                state: { type: string, minLength: 22 }
                code_challenge: { type: string }
                code_challenge_method: { type: string, const: S256 }
                resource: { type: string, format: uri }
                dpop_jkt: { type: string }
                login_hint: { type: string, maxLength: 256 }
                authorization_details: { type: string, description: JSON-encoded RFC 9396 details }
              required: [client_id, response_type, redirect_uri, scope, state, code_challenge, code_challenge_method, resource]
      responses:
        "201":
          description: Pushed request accepted for 90 seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_uri: { type: string }
                  expires_in: { type: integer, const: 90 }
                required: [request_uri, expires_in]
        "400":
          description: Invalid request, target, scope, or DPoP proof
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/authorize:
    get:
      operationId: authorizeOAuthAgentRequest
      tags: [OAuth Agent Grants]
      summary: Start authorization from a pushed request
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile issuer
      parameters:
        - in: query
          name: client_id
          required: true
          schema: { type: string }
        - in: query
          name: request_uri
          required: true
          schema: { type: string }
      responses:
        "303":
          description: Redirect to consent or the exact registered callback with `code`, `state`, and `iss`
        "400":
          description: Unknown, expired, consumed, or mismatched pushed request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/token:
    post:
      operationId: exchangeOAuthAgentToken
      tags: [OAuth Agent Grants]
      summary: Exchange a code, rotate a refresh token, or attenuate an access token
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile issuer
      parameters:
        - in: header
          name: DPoP
          required: true
          schema: { type: string }
          description: Fresh proof from the Agent Key bound to the authorization or token family
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type: { type: string }
                client_id: { type: string }
                code: { type: string }
                redirect_uri: { type: string, format: uri }
                code_verifier: { type: string }
                refresh_token: { type: string }
                subject_token: { type: string }
                subject_token_type: { type: string }
                requested_token_type: { type: string }
                scope: { type: string }
                resource: { type: string, format: uri }
              required: [grant_type, client_id]
      responses:
        "200":
          description: DPoP-bound token response; cache storage is prohibited
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
            Pragma:
              schema: { type: string, const: no-cache }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
        "400":
          description: Invalid grant, proof, scope, target, or grant type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/revoke:
    post:
      operationId: revokeOAuthAgentToken
      tags: [OAuth Agent Grants]
      summary: Revoke an access token or refresh-token family
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile issuer
      parameters:
        - in: header
          name: DPoP
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id: { type: string }
                token: { type: string }
                token_type_hint: { type: string, enum: [access_token, refresh_token] }
              required: [client_id, token]
      responses:
        "200":
          description: Revocation processed without revealing whether the token existed
        "400":
          description: Invalid DPoP proof or request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/resource:
    get:
      operationId: getOAuthAgentProfileResource
      tags: [OAuth Agent Grants]
      summary: Exercise the profile protected-resource checks
      security: []
      servers:
        - url: https://grantex.dev
          description: Hosted profile resource
      parameters:
        - in: header
          name: Authorization
          required: true
          schema: { type: string, pattern: '^DPoP .+$' }
        - in: header
          name: DPoP
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Token, audience, scope, active grant, and sender key verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject: { type: string }
                  client_id: { type: string }
                  scope: { type: string }
                  authorized: { type: boolean, const: true }
                required: [subject, client_id, scope, authorized]
        "401":
          description: Invalid token or DPoP proof
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "403":
          description: Required resource scope is missing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  # ── Authentication ───────────────────────────────────────────────────
  /v1/signup:
    post:
      operationId: signup
      tags: [Authentication]
      summary: Register a new developer account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Developer or organization name
                email:
                  type: string
                  format: email
              required: [name]
      responses:
        "201":
          description: Developer account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  developerId:
                    type: string
                  apiKey:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                  mode:
                    type: string
                    enum: [live, sandbox]
                  createdAt:
                    type: string
                    format: date-time
        "400":
          description: Validation error (name missing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/me:
    get:
      operationId: getMe
      tags: [Authentication]
      summary: Get current developer profile
      responses:
        "200":
          description: Developer profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Developer"
        "404":
          description: Developer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateSettings
      tags: [Authentication]
      summary: Update developer settings
      description: Update developer profile settings including FIDO/WebAuthn configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fidoRequired:
                  type: boolean
                  description: Require FIDO2/WebAuthn assertion for all authorization requests
                fidoRpName:
                  type: string
                  description: Relying Party name displayed in browser passkey prompts
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Developer"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/keys/rotate:
    post:
      operationId: rotateApiKey
      tags: [Authentication]
      summary: Rotate API key
      description: Generates a new API key and invalidates the current one.
      responses:
        "200":
          description: New API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                  rotatedAt:
                    type: string
                    format: date-time

  # ── Agents ───────────────────────────────────────────────────────────
  /v1/agents:
    post:
      operationId: registerAgent
      tags: [Agents]
      summary: Register a new agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Human-readable agent name
                description:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                  description: Scopes the agent may request
              required: [name]
      responses:
        "201":
          description: Agent registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: Plan agent limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listAgents
      tags: [Agents]
      summary: List all agents
      responses:
        "200":
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"

  /v1/agents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Agent ID
    get:
      operationId: getAgent
      tags: [Agents]
      summary: Get agent by ID
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateAgent
      tags: [Agents]
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                status:
                  type: string
                  enum: [active, suspended]
      responses:
        "200":
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: No fields to update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteAgent
      tags: [Agents]
      summary: Delete an agent
      responses:
        "204":
          description: Agent deleted
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Authorization ────────────────────────────────────────────────────
  /v1/authorize:
    post:
      operationId: createAuthorizationRequest
      tags: [Authorization]
      summary: Create an authorization request
      description: |
        Creates an authorization request and returns a consent URL for the end-user.
        In sandbox mode, returns a `code` directly (no redirect needed).
        If a matching policy auto-approves, returns a `code` with `policyEnforced: true`.

        **Rate limit: 10 requests/minute.**
      x-rateLimit:
        limit: 10
        period: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                principalId:
                  type: string
                  description: Your application's user identifier
                scopes:
                  type: array
                  items:
                    type: string
                redirectUri:
                  type: string
                  format: uri
                state:
                  type: string
                expiresIn:
                  type: string
                  default: "24h"
                  description: Duration string (e.g. '1h', '24h', '7d')
                audience:
                  type: string
                codeChallenge:
                  type: string
                  description: PKCE code challenge (S256 only)
                codeChallengeMethod:
                  type: string
                  enum: [S256]
                purpose:
                  type: string
                  maxLength: 128
                  description: |
                    Purpose the grant is bound to: one of `aml.cdd.onboarding`, `aml.cdd.ongoing`,
                    `aml.screening`, `procurement.vendor_onboarding`, `payments.payout`, or a private
                    term `x-<org>.<term>`. Requires at least one `tool:<connector>:<permission>` scope.
                    Issued tokens carry it in `authorization_details` entries of type
                    `urn:grantex:tools:v1`, one per connector. Rejected with `INVALID_PURPOSE`.
                  example: aml.cdd.onboarding
              required: [agentId, principalId, scopes]
      responses:
        "201":
          description: Authorization request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  authRequestId:
                    type: string
                  consentUrl:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
                  sandbox:
                    type: boolean
                  code:
                    type: string
                    description: Present in sandbox mode or when policy auto-approves
                  policyEnforced:
                    type: boolean
                  effect:
                    type: string
                    enum: [allow]
                  purpose:
                    type: string
                    description: Present when the request carries a purpose
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: Plan grant limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Policy denied the authorization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/authorize/{id}/approve:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Authorization request ID
    post:
      operationId: approveAuthorizationRequest
      tags: [Authorization]
      summary: Approve an authorization request
      description: Programmatic approval (for testing). In production, use the consent UI.
      responses:
        "200":
          description: Request approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  status:
                    type: string
                  code:
                    type: string
        "404":
          description: Request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/authorize/{id}/deny:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Authorization request ID
    post:
      operationId: denyAuthorizationRequest
      tags: [Authorization]
      summary: Deny an authorization request
      responses:
        "200":
          description: Request denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  status:
                    type: string
        "404":
          description: Request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Consent ──────────────────────────────────────────────────────────
  /consent:
    get:
      operationId: getConsentPage
      tags: [Consent]
      summary: Consent UI page
      description: HTML consent page for end-user approval.
      security: []
      parameters:
        - name: req
          in: query
          schema:
            type: string
          description: Authorization request ID
      responses:
        "200":
          description: HTML consent page
          content:
            text/html:
              schema:
                type: string

  /v1/consent/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Authorization request ID
    get:
      operationId: getConsentDetails
      tags: [Consent]
      summary: Get consent request details
      security: []
      responses:
        "200":
          description: Consent request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  agentName:
                    type: string
                  agentDid:
                    type: string
                  agentDescription:
                    type: string
                  scopes:
                    type: array
                    items:
                      type: string
                  scopeDescriptions:
                    type: array
                    items:
                      type: string
                  expiresAt:
                    type: string
                    format: date-time
                  status:
                    type: string
        "404":
          description: Request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Request expired or already processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/consent/{id}/approve:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Authorization request ID
    post:
      operationId: approveConsent
      tags: [Consent]
      summary: Approve consent (end-user action)
      security: []
      responses:
        "200":
          description: Consent approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  redirectUri:
                    type: string
                  state:
                    type: string
        "404":
          description: Request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Request expired or already processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/consent/{id}/deny:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Authorization request ID
    post:
      operationId: denyConsent
      tags: [Consent]
      summary: Deny consent (end-user action)
      security: []
      responses:
        "200":
          description: Consent denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUri:
                    type: string
                  state:
                    type: string
        "404":
          description: Request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Tokens ───────────────────────────────────────────────────────────
  /v1/token:
    post:
      operationId: exchangeToken
      tags: [Tokens]
      summary: Exchange authorization code for grant token
      description: |
        Exchanges an authorization code for a signed grant token (RS256 JWT).
        If the authorization used PKCE (S256), a `codeVerifier` is required.
        Fires webhook events for `grant.created` and `token.issued`.

        **Rate limit: 20 requests/minute.**
      x-rateLimit:
        limit: 20
        period: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Authorization code from consent approval
                agentId:
                  type: string
                codeVerifier:
                  type: string
                  description: PKCE code verifier (required if code_challenge was used)
                credentialFormat:
                  type: string
                  enum: [vc-jwt]
                  description: |
                    When set to "vc-jwt", a W3C Verifiable Credential (VC-JWT) is issued alongside the
                    standard grant token. The VC is a portable, tamper-proof proof of authorization.
              required: [code, agentId]
      responses:
        "201":
          description: Grant token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  grantToken:
                    type: string
                    description: Signed RS256 JWT
                  expiresAt:
                    type: string
                    format: date-time
                  scopes:
                    type: array
                    items:
                      type: string
                  refreshToken:
                    type: string
                  grantId:
                    type: string
                  verifiableCredential:
                    type: string
                    description: W3C VC-JWT (present when credentialFormat is "vc-jwt")
        "400":
          description: Invalid code, not approved, expired, or PKCE mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/token/refresh:
    post:
      operationId: refreshToken
      tags: [Tokens]
      summary: Refresh a grant token
      description: |
        Exchanges a refresh token for a new grant token and rotated refresh token while the underlying grant remains active.
        Refresh does not extend the grant expiration; after the grant expires, the caller must re-authorize.
        The old refresh token is marked as used after rotation (single-use rotation per SPEC §7.4).
        If the response is lost after the rotation commits, the immediately previous refresh token may be
        retried for a five-minute (300-second) replay-recovery window; the server returns the already-rotated refresh token and
        does not rotate the chain again. After that window, or once the rotated child token has been used,
        the old refresh token is rejected. Returns the same grantId and expiresAt with a new JWT and refresh token.

        **Rate limit: 20 requests/minute.**
      x-rateLimit:
        limit: 20
        period: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Refresh token from a previous token exchange or refresh
                agentId:
                  type: string
                  description: Agent ID that the refresh token was issued to
              required: [refreshToken, agentId]
      responses:
        "201":
          description: New grant token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  grantToken:
                    type: string
                    description: New signed RS256 JWT
                  expiresAt:
                    type: string
                    format: date-time
                  scopes:
                    type: array
                    items:
                      type: string
                  refreshToken:
                    type: string
                    description: New rotated refresh token (single-use)
                  grantId:
                    type: string
                    description: Same grant ID as original token
        "400":
          description: Invalid, expired, used, or revoked refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/tokens/verify:
    post:
      operationId: verifyToken
      tags: [Tokens]
      summary: Verify a grant token online
      description: Server-side token verification with current revocation state. For local signature-and-claim verification, retrieve keys from the JWKS endpoint; standalone SDK helpers currently fetch JWKS per call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
              required: [token]
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      valid:
                        type: boolean
                        const: true
                      grantId:
                        type: string
                      scopes:
                        type: array
                        items:
                          type: string
                      principal:
                        type: string
                      agent:
                        type: string
                      expiresAt:
                        type: string
                        format: date-time
                  - type: object
                    properties:
                      valid:
                        type: boolean
                        const: false
        "400":
          description: Token missing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/tokens/revoke:
    post:
      operationId: revokeToken
      tags: [Tokens]
      summary: Revoke a grant token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jti:
                  type: string
                  description: Token ID (jti claim from the JWT)
              required: [jti]
      responses:
        "204":
          description: Token revoked
        "404":
          description: Token not found or already revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Grants ───────────────────────────────────────────────────────────
  /v1/grants:
    get:
      operationId: listGrants
      tags: [Grants]
      summary: List grants
      parameters:
        - name: agentId
          in: query
          schema:
            type: string
        - name: principalId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, revoked, expired]
      responses:
        "200":
          description: Grant list
          content:
            application/json:
              schema:
                type: object
                properties:
                  grants:
                    type: array
                    items:
                      $ref: "#/components/schemas/Grant"

  /v1/grants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Grant ID
    get:
      operationId: getGrant
      tags: [Grants]
      summary: Get grant by ID
      responses:
        "200":
          description: Grant details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "404":
          description: Grant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: revokeGrant
      tags: [Grants]
      summary: Revoke a grant
      description: Revokes the grant and cascade-revokes all descendant delegated grants.
      responses:
        "204":
          description: Grant revoked
        "404":
          description: Grant not found or already revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/grants/verify:
    post:
      operationId: verifyGrant
      tags: [Grants]
      summary: Verify a grant token's revocation status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
              required: [token]
      responses:
        "200":
          description: Grant verification result
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      active:
                        type: boolean
                        const: true
                      claims:
                        type: object
                  - type: object
                    properties:
                      active:
                        type: boolean
                        const: false
                      reason:
                        type: string
                        enum: [revoked, not_found, expired]
        "400":
          description: Token missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/grants/delegate:
    post:
      operationId: delegateGrant
      tags: [Grants]
      summary: Delegate a grant to a sub-agent
      description: |
        Creates a delegated grant for a sub-agent with narrowed scopes.
        Sub-agent scopes must be a subset of the parent grant's scopes.
        Sub-agent token expiry is capped at the parent token's expiry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentGrantToken:
                  type: string
                  description: Parent agent's grant token (JWT)
                subAgentId:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                  description: Must be a subset of the parent grant's scopes
                expiresIn:
                  type: string
                  default: "1h"
              required: [parentGrantToken, subAgentId, scopes]
      responses:
        "201":
          description: Delegated grant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  grantToken:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                  scopes:
                    type: array
                    items:
                      type: string
                  grantId:
                    type: string
        "400":
          description: Invalid token or scope escalation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Sub-agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Audit ────────────────────────────────────────────────────────────
  /v1/audit/log:
    post:
      operationId: createAuditEntry
      tags: [Audit]
      summary: Log an audit entry
      description: Appends an entry to the immutable, hash-chained audit log.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                agentDid:
                  type: string
                grantId:
                  type: string
                principalId:
                  type: string
                action:
                  type: string
                  description: "Action identifier (e.g. 'payment.initiated', 'file.read')"
                metadata:
                  type: object
                status:
                  type: string
                  enum: [success, failure, blocked]
                  default: success
              required: [agentId, agentDid, grantId, principalId, action]
      responses:
        "201":
          description: Audit entry created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEntry"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: Plan audit entry limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/audit/entries:
    get:
      operationId: listAuditEntries
      tags: [Audit]
[...]
